@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(240, 240, 240);
  font-family: "Ubuntu Condensed", sans-serif, Arial;
  font-size: 1.3rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../public/cityByNight.jpeg") no-repeat center center fixed;
  background-size: cover;
}

header {
  padding: 10px;
}

/* .container {
  background: url(../public/cityByNight.jpeg) no-repeat center center fixed;
  background-size: cover;
} */
